.food-detail {
  background-color: white; /* 밝은 노란 배경 */
  padding: 30px;
  border-radius: 16px;
  max-width: 1000px;
  margin: 30px auto;
  font-family: "Noto Sans KR", sans-serif;
}

.food-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f57c00; /* 주황색 */
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.food-header h2 {
  margin: 0;
  margin-right: 15px;
}
.food-header span {
  margin: 0;
  margin-right: 15px;
  font-size: 2rem;
}

.nutrient-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.nutrient-card {
  background-color: #fffef5;
  border: 2px solid #fbc02d; /* 노란색 테두리 */
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
